@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<h2>MACHINES</h2>
<p>Select a machine to view it's details and work orders.</p>
<hr />

<div class="card">
@if (@Model.Count == 0)
{
  <p><strong>No Machines have been added yet!</strong></p>
}
@foreach (Machine machine in Model)
{
  <li>@Html.ActionLink($"{machine.Type}", "Details", new { id = machine.MachineId })</li>
}
</div>
<hr />

<p class="fancyBtn">@Html.ActionLink("Add new Machine", "Create", "Machines")</p>
<p class="fancyBtn">@Html.ActionLink("Add new Engineer", "Create", "Engineers")</p> 
<p class="fancyBtn">@Html.ActionLink("Back to Engineers", "Index", "Engineers")</p>
<p class="fancyBtn">@Html.ActionLink("View All", "ViewAll", "Home")</p>