@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>ADD AN ENGINEER</h2>
<p>To add a machine to an engineer, first add the engineer and then edit their details to include any machines they are currently working on.</p>
<hr />
<div class="card">
@using (Html.BeginForm())
{
  @Html.Label("Name: ")
  @Html.TextBoxFor(model => model.Name)
  <br>
  @Html.Label("Specialty: ")
  @Html.TextBoxFor(model => model.Specialty)
  <br>
  <input type="submit" value="ADD" class="fancyBtn2" />
}
</div>
<hr />
<p class="fancyBtn">@Html.ActionLink("Back to Engineers", "Index", "Engineers")</p>
<p class="fancyBtn">@Html.ActionLink("Back to Machines", "Index", "Machines")</p>
